html {
    background-color: #4d4e4f;
}

.AboutMe h1{
    font-size: 100px;
    margin-bottom: 0;
}

.AboutMe {
    margin: auto;
    text-align: center;
    width: 50%;
    color: white;
    padding-bottom: 250px;
}