.App {
  position: relative;
  text-align: center;
  font-weight: bolder;
  color: Black;
  z-index: 2;
}

.App h1{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.App img {
  width: 100%;
  height: auto;
}