.App {
  position: relative;
  text-align: center;
  font-weight: bolder;
  color: black;
  z-index: 2;
}

.App h1{
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  text-shadow: -1px 1px 0 white,
      				  1px 1px 0 white,
			        	1px -1px 0 white;

}

.App img {
  width: 100%;
  height: auto;
}