.UpButt {
  float: right;
  position: fixed;
  top: 90%;
  right: 2%;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #e8ddcb;
  background-color: #93291E;
  border: none;
  border-radius: 100%;
  box-shadow: 2px 5px #999;
}
  
.UpButt:hover {
  background-color: #93291E;
}
  
.UpButt:active {
  background-color: #93291E;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}
