.WhatIDo .head {
  color: black;
  text-align: center;
  font-size: 100px;
  width: 100%;
  margin: auto
}

.WhatIDo .Projects h2 {
  font-size: 50px;   
  
}

.WhatIDo .Projects p {
  font-size: 25px; 
  margin: 75px;
}

.WhatIDo .Projects {
  color: black;
  width: 50%;
  text-align: center; 
  float: left;
}

.WhatIDo .Projects img {
  max-width: 50px;
  padding-right: 50px;
}

.WhatIDo .head img {
  max-width: 100px;
  padding-right: 50px;
}



